html {
    font-size: 15px;
    font-family: "AR One Sans", sans-serif;
    background-color: black;
    color:azure;
}

h1 {
    font-size: 60px;
    text-align: center;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

a {
    color: #1262C3;
}

a:hover {
    color: rgb(0, 195, 185);
}